In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("SmokeBan.csv")

In [3]:
df.head()

   Unnamed: 0 smoker  ban  age     education afam hispanic  gender
0           1    yes  yes   41            hs   no       no  female
1           2    yes  yes   44  some college   no       no  female
2           3     no   no   19  some college   no       no  female
3           4    yes   no   29            hs   no       no  female
4           5     no  yes   28  some college   no       no  female

## Data dictionary:
smoker	factor. Is the individual a current smoker? yes or no
ban	factor. Is there a work area smoking ban? yes or no
age	age in years. integer
education	factor indicating highest education level attained: high school (hs) drop out, high school graduate, some college, college graduate, master's degree (or higher). string
afam	factor. Is the individual African-American? true or false
hispanic	factor. Is the individual Hispanic? true or false
gender	factor indicating gender. male or female